
.main-content{
    background-color: blueviolet;
    overflow: hidden;
    text-align: center;
}
.navbar-left{
    width: 20%;
    height: 120%;
    background-color:aliceblue;
}
.navbar-right{
    float: right;
    height: 100%;
    color:black;
    padding: 14px 16px;
    font-size: 17px;
}

}

